body {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    margin: 0;

    background-color: black!important;
    color: white!important;

}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.font-20 {
    font-size: 20px;
}

.italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.m-2 {
    margin: 10px;
}

.navbar {
    background-color: whitesmoke;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.navbar img {
    width: 40px;
    height: 40px;
}

.navbar span {
    font-size: 2rem;
    font-weight: bold;
}

#app {
    padding: 10px;
    
}